.input {
  position: relative;
  display: inline-flex;
  touch-action: manipulation;
  max-width: 100%;
  @include ts(border-color);
}

.input .input__box {
  max-width: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}

.input .input__control {
  max-width: 100%;
  width: 100%;
  font: inherit;
  line-height: inherit;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  color: black;
}

/*Вью полей*/
.input.input_view_primary {
  border: 1px solid black;
  & .input__control::placeholder {
    color: #ccc;
  }
}
/*Вью полей КОНЕЦ*/

/*Стэйт полей*/

.input.input_state_focus {
  border-color: green;
}

.input.input_state_hover {
  border-color: pink;
}

.input.input_state_error {
  border-color: red;
}

.input.input_state_success {
  border-color: blue;
}

.input.input_state_disabled {
  border-color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.04);
  cursor: not-allowed;
  .input__control {
    cursor: not-allowed;
  }
}
/* Стэйт полей КОНЕЦ*/

/* Модификации */

.input.input_width_available {
  width: 100%;
  & .input__control {
    width: 100%;
  }
}

/*Модификации КОНЕЦ*/

/*S - Начало*/
.input.input_size_s {
  font-size: 13px;
  line-height: 16px;
}
.input.input_size_s .input__control {
  height: 24px;
  padding: 0 7px;
}

/*S - КОНЕЦ*/

/*M - Начало*/
.input.input_size_m {
  font-size: 14px;
  line-height: 16px;
}
.input.input_size_m .input__control {
  height: 26px;
  padding: 0 8px;
}

/*M - КОНЕЦ*/

/*L - Начало*/
.input.input_size_l {
  font-size: 18px;
  line-height: 22px;
}

.input.input_size_l .input__control {
  height: 32px;
  padding: 0 10px;
}

/*L - КОНЕЦ*/

/*XL- Начало*/
.input.input_size_xl {
  font-size: 20px;
  line-height: 24px;
}

.input.input_size_xl .input__control {
  height: 36px;
  padding: 0 12px;
}

/*XL - КОНЕЦ*/
