.label {
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__box {
    flex-grow: 1;
  }
}

.label.label_type_split {
  .label__inner {
    flex-wrap: nowrap;
    gap: 15px;
  }
}
.label.label_type_nosplit {
  .label__title {
    width: 100%;
  }
  .label__box {
    width: 100%;
  }
}
